<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/172203/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/layout/admin.css"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default no-margin">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header fixed-brand">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
      <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
    </button>
    <a class="navbar-brand" th:href="@{/}"><img class="rogoimg" src="https://i.postimg.cc/qRMyWWkr/image.png"/></a>
  </div>
  <!-- navbar-header-->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">

    </ul>
  </div>
  <!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
      <li>
        <a th:href="@{/admin/}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>매출</a>
      </li>
      <li>
        <a th:href="@{/admin/order}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>주문 관리</a>
      </li>
      <li>
        <a th:href="@{/admin/product}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>상품 관리</a>
      </li>
      <li>
        <a th:href="@{/admin/user}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>회원 관리</a>
      </li>
      <li>
        <a th:href="@{/admin/review}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>리뷰 관리</a>
      </li>
      <li>
        <a th:href="@{/admin/qna}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>문의사항 관리</a>
      </li>
      <li>
        <a th:href="@{/admin/notice}"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>공지사항 관리</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid xyz">
      <div class="row">
        <div class="col-lg-12">
          <h1>리뷰 관리</h1>

          <div class="date_content">
            <div class="date_title"><p>리뷰 관리 </p></div>
            <div class="btn_line">
              <button type="button" class="date_btn" id="deleteButton"> 리뷰 삭제 </button>


            </div>


            <div class="date_data">
              <!--    리스트 -->




              <table class="list_table">
                <thead>
                <tr>
                  <th class="number">리뷰번호</th>
                  <th class="user">작성자 e-mail</th>
                  <th class="subject">리뷰 내용</th>
                  <th class="product-name">상품명</th>
                  <th class="score">평점</th>
                  <th class="button_menu">선택</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="review : ${paging}">
                  <td class="number" th:text="${review.id}">1</td>
                  <td class="user">
                    <span th:text="${review.author.username}">작성자 e-mail</span>
                  </td>
                  <td class="subject" th:text="${review.content}">리뷰 내용</td>
                  <td class="product-name" ><a th:href="@{|/product/${review.productOrder.product.id}|}" th:text="${review.productOrder.product.productName}">상품명</a></td>
                  <td class="score" th:text="${review.score}">평점</td>
                  <td class="button_menu">
                    <label class="order_check">
                      <input type="checkbox" name="orderCheck" th:value="${review.id}">
                    </label>
                  </td>
                </tr>
                </tbody>
              </table>
              <!-- 페이징처리 시작 -->
              <div th:if="${!paging.isEmpty()}" style="text-align: center;">
                <ul class="pagination justify-content-center">
                  <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="${paging.hasPrevious} ? @{|?page=${paging.number-1}|} : @{|?page=0|}">
                      <span>이전</span>
                    </a>
                  </li>
                  <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                      th:if="${page >= paging.number-5 and page <= paging.number+5}"
                      th:classappend="${page == paging.number} ? 'active'"
                      class="page-item">
                    <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
                  </li>
                  <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                      <span>다음</span>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- 페이징처리 끝 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  $(document).ready(function() {
      $("#deleteButton").click(function() {
          var selectedIds = [];
          $("input[name='orderCheck']:checked").each(function() {
              selectedIds.push($(this).val());
          });

          if (selectedIds.length > 0) {
              if (confirm("선택한 리뷰를 삭제하시겠습니까?")) {
                  // 선택한 ID 목록을 서버로 전송하고 삭제 요청 처리
                  $.ajax({
                      type: "POST",
                      url: "/admin/review/delete",
                      data: { 'ids' : selectedIds },
                      success: function(data) {
                          location.reload();
                      },
                      error: function(error) {
                          console.log(error);
                      }
                  });
              }
          } else {
              alert("삭제할 리뷰를 선택해주세요.");
          }
      });
  });
</script>
</body>
</html>