<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="/layout/mypage_list.css"/>
  <title>My Page</title>
</head>
<body>
<nav th:replace="layout/navbar.html"></nav>
<div class="profilecont">

  <div class="banner">
    <img src="https://i.postimg.cc/GhgS0D1X/1123.jpg" alt="ava" class="bannerimg"/>
    <div class="ava">
      <img src="https://i.postimg.cc/1tWhz9Q0/image.jpg" alt="ava" />
    </div>
    <h4><span th:text='${user.nickname}'></span><span th:text='${"#"+user.id}'>#회원번호(타임리프)</span></h4>

  </div>
  <div class="content">
    <div class="main">
      <h5>&nbsp;&nbsp;&nbsp;User Tools</h5>
      <ul class="posts">
        <li class="coding">
          <a th:href="@{/mypage/order}">
            <div class="icon">
              <i class="fas fa-money-check-alt"></i>
            </div>
            <div class="txt">
              <h5>My Order</h5>
              <div class="sub">
                <strong>주문내역</strong>
                <span>&nbsp;-&nbsp;</span>

                <span>
                  <i class="fas fa-money-check-alt"></i>
                  &nbsp;<span th:text='${orderCount}'></span>
                </span>
                <span>&nbsp;건</span>


              </div>
            </div>
          </a>
        </li>
        <li class="crypto">
          <a th:href="@{mypage/wish}">
            <div class="icon">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="txt">
              <h5>Wish List</h5>
              <div class="sub">
                <strong>찜목록</strong><span>&nbsp;-&nbsp;</span>
                <i class="fas fa-shopping-cart"></i>
                &nbsp;<span th:text="${#lists.size(wishList)}"></span>
                </span>
                <span>&nbsp;건</span>
              </div>
            </div>
          </a>
        </li>
        <li class="coding">
          <a th:href="@{/mypage/review}">
            <div class="icon">
              <i class="	fas fa-sticky-note"></i>
            </div>
            <div class="txt">
              <h5>My Review</h5>
              <div class="sub">
                <strong>내가 쓴 리뷰</strong>
                <span>&nbsp;-&nbsp;</span>

                <span>
                  <i class="fas fa-sticky-note"></i>
                  &nbsp;<span th:text='${reviewCount}'></span>
                </span>
                <span>&nbsp;건</span>


              </div>
            </div>
          </a>
        </li>
        <li class="design">
          <a th:href="@{/mypage/qna}">
            <div class="icon">
              <i class="	fas fa-sticky-note"></i>
            </div>
            <div class="txt">
              <h5>My Question</h5>
              <div class="sub">
                <strong>내 문의</strong>
                <span>&nbsp;-&nbsp;</span>
                <span>
                  <i class="fas fa-sticky-note"></i>
                  &nbsp;<span th:text='${questionCount}'></span>
                </span>
                <span>&nbsp;건</span>


              </div>
            </div>
          </a>
        </li>
        <li class="general">
          <a th:href="@{/mypage/user}">
            <div class="icon">
              <i class="fas fa-user-cog"></i>
            </div>
            <div class="txt">
              <h5>User Edit</h5>
              <div class="sub">
                <strong>회원정보수정</strong>

              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="side">
      <h5>회원정보수정</h5>
      <form  class="usrmodify" th:action="@{/mypage/user/modify}" th:object="${userForm}" method="post">
        <div>
          <span>USER ID :</span>
          <span class="usremail" th:text='${user.username}'></span>
        </div>
        <div>
          <span>New NickName : </span>
          <input type="text"   th:field="*{nickname}" style="color:black;">
        </div>
        <div>
          <span>New PW : </span>
          <input type="password" th:field="*{password1}" style="color:black;">
        </div>
        <div>
          <span>Re-New Pw : </span>
          <input type="password" th:field="*{password2}" style="color:black;">
        </div>
        <div>
          <button type="submit" id="submitButton">Reset</button>
        </div>
      </form>

    </div>
  </div>
</div>
<footer th:replace="layout/footer.html"></footer>
<script>
 $(document).ready(function() {
    $(".usrmodify").submit(function(event) {
        event.preventDefault(); // 폼 제출 방지

        $.ajax({
            type: "POST",
            url: $(this).attr("action"),
            data: $(this).serialize(),
            success: function(response) {
                alert(response); // 서버에서 반환된 메시지를 alert로 표시
                if (response === "성공적으로 수정되었습니다.") {
                    location.reload(); // 페이지 리로드
                }
            },
            error: function(xhr, status, error) {
                alert("오류가 발생했습니다. 다시 시도해주세요.");
            }
        });
    });
});
</script>
</body>
</html>