<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/layout/mypage.css"/>
    <title>My Page</title>
</head>
<body>
<nav th:replace="layout/navbar.html"></nav>
<div class="profilecont">
  <div class="banner">
    <img src="https://i.postimg.cc/GhgS0D1X/1123.jpg" alt="ava" class="bannerimg"/>
    <div class="ava">
      <img src="https://i.postimg.cc/1tWhz9Q0/image.jpg" alt="ava" />
    </div>
    <h4><span th:text='${user.nickname}'></span><span th:text='${"#"+user.id}'>#회원번호(타임리프)</span></h4>
  </div>
  <div class="content">
    <div class="main">
      <h5>&nbsp;&nbsp;&nbsp;User Tools</h5>
      <ul class="posts">
        <li class="coding">
          <a th:href="@{/mypage/order}">
            <div class="icon">
              <i class="fas fa-money-check-alt"></i>
            </div>
            <div class="txt">
              <h5>My Order</h5>
              <div class="sub">
                <strong>주문내역</strong>
                <span>&nbsp;-&nbsp;</span>
                <span>
                  <i class="fas fa-money-check-alt"></i>
                  &nbsp;<span th:text='${orderCount}'></span>
                </span>
                <span>&nbsp;건</span>
              </div>
            </div>
          </a>
        </li>
        <li class="crypto">
          <a th:href="@{mypage/wish}">
            <div class="icon">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="txt">
              <h5>Wish List</h5>
              <div class="sub">
                <strong>찜목록</strong><span>&nbsp;-&nbsp;</span>
                  <i class="fas fa-shopping-cart"></i>
                  &nbsp;<span th:text="${#lists.size(wishList)}"></span>
                  </span>
                <span>&nbsp;건</span>
              </div>
            </div>
          </a>
        </li>
        <li class="coding">
          <a th:href="@{/mypage/review}">
            <div class="icon">
              <i class="fas fa-sticky-note"></i>
            </div>
            <div class="txt">
              <h5>My Review</h5>
              <div class="sub">
                <strong>내가 쓴 리뷰</strong>
                <span>&nbsp;-&nbsp;</span>
                <span>
                  <i class="fas fa-sticky-note"></i>
                  &nbsp;<span th:text='${reviewCount}'></span>
                </span>
                <span>&nbsp;건</span>
              </div>
            </div>
          </a>
        </li>
        <li class="design">
          <a th:href="@{/mypage/qna}">
            <div class="icon">
              <i class="fas fa-sticky-note"></i>
            </div>
            <div class="txt">
              <h5>My Question</h5>
              <div class="sub">
                <strong>내 문의</strong>
                <span>&nbsp;-&nbsp;</span>
                <span>
                  <i class="fas fa-sticky-note"></i>
                  &nbsp;<span th:text='${questionCount}'></span>
                </span>
                <span>&nbsp;건</span>
              </div>
            </div>
          </a>
        </li>
        <li class="general">
          <a th:href="@{/mypage/user}">
            <div class="icon">
              <i class="fas fa-user-cog"></i>
            </div>
            <div class="txt">
              <h5>User Edit</h5>
              <div class="sub">
                <strong>회원정보수정</strong>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="side">
      <h5>User E-mail</h5>
      <p th:text='${user.username}'>이메일(타임리프)</p>
      <h5>User BirthDate</h5>
      <p th:text='${user.birthDate}'>생년월일(타임리프)</p>
    </div>
  </div>
</div>
<footer th:replace="layout/footer.html"></footer>
</body>
</html>