<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <script type="text/javascript" th:src="@{/jquery-3.7.0.min.js}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/layout/mypage_list.css"/>
  <title>My Page</title>
</head>
<body>
<nav th:replace="layout/navbar.html"></nav>
<div class="profilecont">

  <div class="banner">
    <img src="https://i.postimg.cc/GhgS0D1X/1123.jpg" alt="ava" class="bannerimg"/>
    <div class="ava">
      <img src="https://i.postimg.cc/1tWhz9Q0/image.jpg" alt="ava" />
    </div>
    <h4><span th:text='${user.nickname}'></span><span th:text='${"#"+user.id}'>#회원번호(타임리프)</span></h4>

  </div>
  <div class="content">
    <div class="main">
      <h5>&nbsp;&nbsp;&nbsp;User Tools</h5>
      <ul class="posts">
        <li class="coding">
          <a href="#">
            <div class="icon">
              <i class="fas fa-money-check-alt"></i>
            </div>
            <div class="txt">
              <h5>My Order</h5>
              <div class="sub">
                <strong>주문내역</strong>
                <span>&nbsp;-&nbsp;</span>

                <span>
                  <i class="fas fa-money-check-alt"></i>
                  &nbsp;3(타임리프)
                </span>
                <span>&nbsp;건</span>


              </div>
            </div>
          </a>
        </li>
        <li class="crypto">
          <a href="#">
            <div class="icon">
              <i class="	fas fa-shopping-cart"></i>
            </div>
            <div class="txt">
              <h5>Wish List</h5>
              <div class="sub">
                <strong>찜목록</strong>               <span>&nbsp;-&nbsp;</span>
                <span>
                  <i class="fas fa-shopping-cart"></i>
                  &nbsp;3(타임리프)
                </span>
                <span>&nbsp;건</span>


              </div>
            </div>
          </a>
        </li>
        <li class="coding">
          <a href="#">
            <div class="icon">
              <i class="	fas fa-sticky-note"></i>
            </div>
            <div class="txt">
              <h5>My Review</h5>
              <div class="sub">
                <strong>내가 쓴 리뷰</strong>
                <span>&nbsp;-&nbsp;</span>

                <span>
                  <i class="fas fa-sticky-note"></i>
                  &nbsp;3(타임리프)
                </span>
                <span>&nbsp;건</span>


              </div>
            </div>
          </a>
        </li>
        <li class="design">
          <a href="#">
            <div class="icon">
              <i class="	fas fa-sticky-note"></i>
            </div>
            <div class="txt">
              <h5>My Question</h5>
              <div class="sub">
                <strong>내 문의</strong>
                <span>&nbsp;-&nbsp;</span>
                <span>
                  <i class="fas fa-sticky-note"></i>
                  &nbsp;3(타임리프)
                </span>
                <span>&nbsp;건</span>


              </div>
            </div>
          </a>
        </li>
        <li class="general">
          <a href="#">
            <div class="icon">
              <i class="fas fa-user-cog"></i>
            </div>
            <div class="txt">
              <h5>User Edit</h5>
              <div class="sub">
                <strong>회원정보수정</strong>

              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="side">
      <h5>주문내역</h5>
      <table class="list_table">
        <thead>
        <tr>
          <th class="productName" style="text-align: center;">상품명</th>
          <th class="orderDate" style="text-align: center;">주문일</th>
          <th class="code" style="text-align: center;">코드</th>
          <th class="price" style="text-align: center;">주문금액</th>
          <th class="orderView" style="text-align: center;">주문상세</th>
          <th class="reviewCreate" style="text-align: center;">리뷰작성</th>
          <th class="orderStatus" style="text-align: center;">주문상태</th>
        </tr>
        </thead>
        <tbody>
      <tbody>
      <tr th:each="productOrder : ${productOrderList}">
        <td class="productName">
          <a th:href="@{|/product/${productOrder.product.id}|}" th:text="${productOrder.product.productName}">상품명</a>
        </td>
        <td class="orderDate" th:text="${#temporals.format(productOrder.orderDate, 'yyyy-MM-dd')}">주문일</td>
        <td class="code" th:text="${productOrder.code}">코드</td>
        <td class="price" th:text="${productOrder.product.price}">주문금액</td>
        <td><a th:href="@{|/order/detail/${productOrder.id}|}"><button type="button">주문상세보기</button></a></td>
        <td>
          <button class="review-create-btn" th:attr="data-product-order-id=${productOrder.id}">
            리뷰등록
          </button>
        </td>
        <td class="orderStatus" th:text="${productOrder.orderStatus}">주문상태</td>
      </tr>
      </tbody>
      </table>

      <!-- 페이징처리 시작 -->
      <div th:if="${!paging.isEmpty()}" style="text-align: center;">
        <ul class="pagination1 justify-content-center">
          <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
            <a class="page-link1" th:href="${paging.hasPrevious} ? @{|?page=${paging.number-1}|} : @{|?page=0|}">
              <span><</span>
            </a>
          </li>
          <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
              th:if="${page >= paging.number-5 and page <= paging.number+5}"
              th:classappend="${page == paging.number} ? 'active'"
              class="page-item">
            <a th:text="${page+1}" class="page-link1" th:href="@{|?page=${page}|}"></a>
          </li>
          <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
            <a class="page-link1" th:href="@{|?page=${paging.number+1}|}">
              <span>></span>
            </a>
          </li>
        </ul>
      </div>
      <!-- 페이징처리 끝 -->

</div>
</div>
</div>
</body>
</html>

<script>
$(document).ready(function () {
  $(".review-create-btn").click(function () {
    var productOrderId = $(this).data("product-order-id"); // 주문 ID를 가져옴
    console.log(productOrderId);

    $.ajax({
      url: "/review/create", // 리뷰 생성 엔드포인트
      type: "POST",
      data: { productOrderId: productOrderId }, // productOrderId를 서버로 보냄
      success: function (data) {
        // 리뷰 작성 성공 처리
        console.log("리뷰 작성 성공");
        var width = 700; // 새 창의 너비
        var height = 500; // 새 창의 높이
        var left = (window.screen.width - width) / 2;
        var top = (window.screen.height - height) / 2;
        var options =
          "width=" +
          width +
          ",height=" +
          height +
          ",left=" +
          left +
          ",top=" +
          top;

        var url = "/review/create?productOrderId=" + productOrderId;
        window.open(url, "_blank", options);
      },
      error: function () {
        console.error("리뷰 작성 실패");
      }
    });
  });
});



</script>