<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/layout/layout.css"/>
    <title>Document</title>
</head>
<body>
    <footer th:fragment="footerFragment">
        <div class="footer-left">
            <a href='https://postimg.cc/Sn9Yp5H5' target='_blank'><img src='https://i.postimg.cc/Sn9Yp5H5/world.png' alt='world'></a>
        </div>
        <div class="footer-right">
            <h4>Team Members</h4>
            <ul class="team-members">
                <div>
                <li class="userli">
                    <div class="member-name">오택주 (팀장)</div>
                    <br>
                    <div class="member-role">BackEnd Dev / FrontEnd Dev</div>
                </li>
                <li class="userli">
                    <div class="member-name">송채영 (부팀장)</div>
                    <br>
                    <div class="member-role">BackEnd Dev / FrontEnd Dev</div>
                </li>
                </div>
                <div>
                <li class="userli">
                    <div class="member-name">오길환 (팀원)</div>
                    <br>
                    <div class="member-role">BackEnd Dev / FrontEnd Dev</div>
                </li>
                <li class="userli">
                    <div class="member-name">서 빈 (팀원)</div>
                    <br>
                    <div class="member-role">BackEnd Dev / FrontEnd Dev</div>
                </li>
                </div>
            </ul>
            <div class="footer-links">
                <p>© 2023 World Corporation. All rights reserved. All trademarks are property of their respective owners in the Korea and other countries. VAT included in all prices where applicable.</p>
                <p>
                    <a href="https://github.com/cojar/project_world">GitHub</a> |
                    <a href="https://docs.google.com/spreadsheets/d/1zgqkxo5B3DgS5OIJ4RB_XYS8_KCNcBik72yjB9s9Rto/edit#gid=186860782">Requirement</a> |
                    <a href="https://open.kakao.com/o/s7y6ypAf">카카오톡 1:1 문의</a>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>