@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 노멀라이징 */

a{
  color:inherit;
  text-decoration:none;
}

ul,li{
  text-decoration:none;
  list-style:none;
}


/* 스타일 시작 */
.container-box{
  background-color: rgba(30,30,30);
  text-align:center;
  width:100%;
}

.content_box{
  display:inline-block;
  width:70%;
  margin:50px;
}
.title_box{
  text-align:left;
}
.order_title{
  color:white;
  font-size:40px;
  font-family: 'NeoDunggeunmoPro-Regular';
}
/* 아래부터 상품 */


.notice{
  margin-top:20px;
  border-top:2px solid white;
  padding-top:20px;
  position:relative;
  height:180px;
}

.notice>img{
  width:250px;
  height:125px;
  margin:0;
  padding:0;
  position:absolute;
  left:0;
}
.notice_detail{
  display:inline-block;
  width:65%;
  position:absolute;
  left:35%;
  text-align:left;
}

.notice_detail>div>p{
  display:inline-block;
  margin:0;
  padding:0;
  color:white;
  font-size:20px;
}

/* 하단버튼 */
.bt_box{
  margin-top:100px;
  margin-right:30px;
  text-align:right;
  border:1px solid yellow;
}
.bt_box>button{
  height:35px;
  width:150px;
  background: rgb(20, 20, 20);
  border:2px solid white;
  color:white;
  font-size:20px;
  font-family: 'NeoDunggeunmoPro-Regular';
}
.bt_box>button:hover{
  background: gray;
}

.holy{
    border:2px solid white;
      color:white;
}

.page-link1{
  background-color: rgb(30, 30, 30);
  border:2px solid #999;
  color:#999;
  font-size:20px;
  padding-right:10px;
  padding-left:10px;
  margin-right:5px;
  margin:left:5px;
  font-family: 'NeoDunggeunmoPro-Regular';
}

.page-link1:hover{
background-color: white;
color:rgb(30, 30, 30);
}
.pagination1{
margin:0;}

.page-item{
   display:inline-block;
}