*{
    margin:0;
    padding:0;
}

li{
    list-style:none;
    text-decoration:none;
}


a{
    color:inherit;
    text-decoration:none;
}

/* 스타일 시작 */



@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.wrap>.title{
  font-family: 'NeoDunggeunmoPro-Regular';
}


*{
  margin:0;
}

/* 리스트 스타일시작 */

.list-wrap{
  text-align:center;
  margin-top:30px;
}

.list-wrap>.list{
  display:inline-block;
}

.list-wrap>.list>#holy{
  display: grid;
  grid-template-columns: repeat(4, minmax(230px, 280px));
  gap: 50px; /* 간격 설정 */
}

.list-wrap>.list>#holy>li>a>.product-price{
    color:white;
    background-image: linear-gradient(to right, rgb(64,64,64), rgb(192,192,192));
    text-align:left;
}

.list-wrap>.list>#holy>li>a>.product-price>span{
    margin-left:10px;
}

/*페이징*/
.page-list{
list-style:none;
text-align:row;
font-size:25px;
}

.page-link{
font-family: 'NeoDunggeunmoPro-Regular';}

.holy{
    border:2px solid white;
      color:white;
}

.page-list>li{
display:inline-block;
}

.page-item{
display:inline-block;
list-style:none;
}

.disabled{
display:inline-block;
}
.page-link > a {
    color: black;
}
