@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
section {
  font-size: 18px;
  white:auto;
}
.title {
  padding: 15px 20px;
  background-color: #353b4c;
  font-size: 18px;
  letter-spacing: -1px;
  color: #fff;
  font-weight: normal;
}

.review-write-form fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
    padding: 5px 5px 10px;
}
.review-write-form fieldset legend{
    text-align: right;
}
.review-write-form input[type=radio]{
    display: none;
}
.review-write-form label{
    font-size: 1.5em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
.review-write-form label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.review-write-form label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.review-write-form input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.write-body{
  position: relative;
  padding: 5px 10px;
  border: 1px solid #cfcfcf;
  text-align: center;
}
.content{
  width: 100%;
  height: 150px;
  border: 0;
  font-size: 13px;
  line-height: 20px;
  color: #222;
  resize: none;
}
.write-btn-box{
  margin-top: 30px;
  text-align: center;
}
.write-btn-box button {
  height: 40px;
  width: 110px;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  font-family: "NeoDunggeunmoPro-Regular";
}
#cancel_button {
  background: gray;
}
#submit_button {
  background: rgb(20, 20, 20);
}
