/**아래부터 상단 / 하단 **/

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width:100%;
}

.footer-left {
    width: 30%;
    margin-right: 10%;
}

.footer-left img {
    width: 100%;
    margin-left: 20%;
}

.footer-right {
    width: 70%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.footer-right h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.team-members {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.team-members li {
    margin-bottom: 10px;
}

.member-name {
    font-weight: bold;
}

.member-role {
    color: gray;
    font-size: 14px;
}

.footer-links {
    background-color: rgba(192, 192, 192, 0.2);
    padding: 10px;
}

.footer-links p {
    color: gray;
    margin-bottom: 5px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}


/*노멀라이징*/

@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



li{
    list-style:none;
    text-decoration:none;
}


a{
    color:inherit;
    text-decoration:none;
}

/* 스타일 시작 */

/* bootstrap dropdown hover menu*/
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


nav {
  margin-top: 30px;
  box-shadow: 5px 4px 5px #000;
  position: relative;
  z-index: 999;
}
.navbar-brand{
  margin:0;
  padding:0;
  text-align:center;
}
.w-72{
  padding-top:5px;
  padding-left:10px;
  margin-left:20px;
  width:160px;
  margin-right:50px;
}

.navbar-inverse{
  position: fixed;
  left:5%;
  right:5%;
  width:90%;
}

.navbar-nav>li>a{
  font-family: 'NeoDunggeunmoPro-Regular';
  font-size:20px;

}
.userli{
display:inline-block;
margin-right:50px;
}
.member-name , .member-role{
display:inline-block;
}



/*배경컬러 */

.container-box{
  background: rgb(30, 30, 30);
  padding-top:150px;
  width:100%;
}