@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/*검색라인 */
.serch_line{

  text-align:center;
  margin-top:100px;
  margin-bottom:70px;
}

.serch_line>input{
  width:600px;
  height:50px;
  margin-right:10px;
  font-size:15px;
}
.serch_line>button{
  height:50px;
  width:80px;
   background: #373838;
    color:white;
  font-size:20px;
  font-family: 'NeoDunggeunmoPro-Regular';
}
.serch_line>button:hover{
  background: gray;
}

.searchBox{
background-color:rgb(30,30,30);
border:1px solid gray;
color:white;
}

/*메인배너 */
.mainbanner{
  display:block;
  text-align:center;
}
.mainbanner>a{
  display:inline-block;
  margin:0;
    padding:0;
}
.banner-box>a>video{
  margin:0;
    padding:0;
    width:1440px;
}
.banner-box{
  display:inline-block;
  width:100%;
  margin:0;
  padding:0;
}

.banner-box>a{
display:inline-block;
margin:0;
    padding:0;
}

/**아이콘박스**/
.icon{
text-align:center;
margin-bottom:100px;
}
.icon-box>a>div>img{
  width:100px;
  height:100px;
  margin:0;
  padding:0;
}
.icon-box{
  text-align:center;
  margin-top:30px;
}
.icon-box>a>div{
display:inline-block;
margin:20px;
  width:100px;
  height:130px;
}
.iconName{
  color:white;
  font-size:20px;
  margin:0;

}

.icon-box>a>div:hover>.iconName{
 border-bottom:1px solid white;
  display:none;
}


/**이미지 호버**/
.img-box {
  position: relative;
  overflow: hidden;
}

.img-box::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s;
}

.img-box:hover::before {
  background-color: rgba(0, 0, 0, 0.7);
}

.img-box > img {
  position: relative;
  width:300px;
  height:150px;
  transition: transform 0.3s;
}

.img-box:hover > img {
  transform: scale(1.3);
}

.img-box::after {
  content: "VIEW MORE";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: 1px solid white;
  padding: 5px 10px 2px 10px;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s;
}

.img-box:hover::after {
  opacity: 1;
}

/**인기게임목록**/

.gameList{
  margin-top:30px;
  text-align:center;
  padding-bottom:50px;
}
.gameListTitle-box{
  display:inline-block;
}
.gameListTitle{
  color:white;
  font-size:30px;
  font-family: 'NeoDunggeunmoPro-Regular';
  border-bottom:2px solid white;
}


/*배경*/
.container{
  background: rgb(30, 30, 30);
  padding-top:150px;
}
.container-box{
  padding-bottom:150px;}




/* 리스트 스타일시작 */

.list-wrap{
  text-align:center;
  margin-top:30px;
}

.list-wrap>.list{
  display:inline-block;
}

.list-wrap>.list>#holy{
  display: grid;
  grid-template-columns: repeat(4, minmax(230px, 280px));
  gap: 50px; /* 간격 설정 */
}

.list-wrap>.list>#holy>li>a>.product-price{
    color:white;
    background-image: linear-gradient(to right, rgb(64,64,64), rgb(192,192,192));
    text-align:left;
}

.list-wrap>.list>#holy>li>a>.product-price>span{
    margin-left:10px;
}


.container-box1{
  background: rgb(30, 30, 30);
  width:100%;
}
