footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-left {
    width: 30%;
    margin-right: 30%;
}

.footer-left img {
    width: 100%;
    margin-left: 20%;
}

.footer-right {
    width: 70%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.footer-right h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.team-members {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.team-members li {
    margin-bottom: 10px;
}

.member-name {
    font-weight: bold;
}

.member-role {
    color: gray;
    font-size: 14px;
}

.footer-links {
    background-color: rgba(192, 192, 192, 0.2);
    padding: 10px;
}

.footer-links p {
    color: gray;
    margin-bottom: 5px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}
