@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

section {
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 18px;
  background: rgb(30, 30, 30);
  margin: 0 auto;
  color: white;

}
.inner-container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.image-panel {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.image-panel img {
  max-width:100%;
  height:700px;
}

.panel-Inner {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width:100%;
  height:700px;
  background: rgb(30, 30, 30);
  opacity: 0.5;
}

.panel-productName,
.panel-developer,
.panel-price {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  position: absolute;
}

.panel-productName{
  position: absolute;
  bottom: 180px;
  left: 70px;
}
.panel-developer{
  bottom: 140px;
  left: 70px;
}

.panel-price{
  bottom: 100px;
  left: 70px;
}

.panel-btn {
  font-size: 2rem;
  font-weight: bold;
  background: rgb(30, 30, 30);
  color: white;
  border: none;
  width:150px;
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  left: 70px;
  padding:10px 20px;
}

.panel-btn:hover {
  background: rgb(0, 0, 0);
  text-decoration: underline;
}

.product-detail-classification > .classify-btn-box{
    display: flex;
  justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tab-btn{
  font-size: 3rem;
  background: rgb(30, 30, 30);
  color:white;
  font-weight:bold;
  padding:0px 20px;
  border-width: 0;
}

#detail, #specification, #review{
  border-right-width: 3px;
  border-color: white;
}

.detail-box{
  color:white;
  text-align:center;
  font-size: 2rem;
  font-weight: bold;
}

.detail-box > div{
  margin-top:30px;
}

table {
  width: 70%;
  border-color: white;
  text-align: center;
  margin:auto;
  margin-top:10px;
}

table th,
table td {
  padding: 8px;
  border: 1px solid white;
}

.window-specification td.text-only {
  width: 15%;
}
.window-specification td.list-data {
  width: 35%;
}

.mac-specification td.text-only {
  width: 15%;
}
.mac-specification td.list-data {
  width: 35%;
}

.form-container{
text-align:center;
}

.radio-container {
justify-content: center;
  display: flex;
  gap: 5%;
}

.radio input[type="radio"] {
    width: 16px;
    height: 16px;
    margin:0 5px;
}

.hidden {
    display: none;
}