<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="/layout/MainPage.css"/>
    <title>Hello World!</title>
</head>
<body>
<nav th:replace="layout/navbar.html"></nav>
<!-- 메인페이지  -->
<div class="container-box1">
  <div class="mainbanner">
    <div class="banner-box">
      <a th:href="@{/product/list?kw=철권&page=0}">
        <video src="https://cdn.akamai.steamstatic.com/steam/apps/256921566/movie480_vp9.webm?t=1671696058" autoplay muted loop>
          <span> 상품 바로가기 </span>
        </video>
      </a>
    </div>
  </div>
  <div class="serch_line">
    <input type="text" id="search_kw" class="searchBox" th:value="${kw}" placeholder="상품명, 개발사명 으로 검색 ">
    <button class="search_button" type="button" id="btn_search">search</button>
  </div>
  <div class="icon">
    <div class="gameListTitle-box">
    <span class="gameListTitle">
      Theme
    </span>
    </div>
    <div class="icon-box">
      <a th:href="@{/product/list/RPG}">
        <div class="img-box">
          <img src="https://i.postimg.cc/KvrHWsVs/RPG.png"/>
          <p class="iconName">RPG</p>
        </div>
      </a>
      <a th:href="@{/product/list/Sports}">
        <div class="img-box">
          <img src="https://i.postimg.cc/8kq7YZWW/image.png"/>
          <p class="iconName">Sports</p>
        </div>
      </a>
      <a th:href="@{/product/list/FPS}">
        <div class="img-box">
          <img src="https://i.postimg.cc/hvqqLQzJ/FPS.png"/>
          <p class="iconName">FPS</p>
        </div>
      </a>
      <a th:href="@{/product/list/Arcade}">
        <div class="img-box">
          <img src="https://i.postimg.cc/85RYVKc5/image.png"/><p class="iconName">Arcade</p>
        </div>
      </a>
      <a th:href="@{/product/list/Thriller}">
        <div class="img-box">
          <img src="https://i.postimg.cc/xjPZx4Bp/image.png" style="width:100px height:100px"/>
          <p class="iconName">Thriller</p>
        </div>
      </a>
      <a th:href="@{/product/list/Simulation}">
        <div class="img-box">
          <img src="https://i.postimg.cc/Dy8crphX/image.png">
          <p class="iconName">Simulation</p>
        </div>
      </a>

    </div>
  </div>
  <div class="gameList">
    <div class="gameListTitle-box">
    <span class="gameListTitle">
      New Game
    </span>
    </div>
    <div class="list-wrap">

      <div class="list">
        <ul id="holy">
          <li th:each="product : ${paging}">
            <a th:href="@{|/product/${product.id}|}">
              <div class=img-box th:each="productImage, loop : ${product.productImageList}">
                <img th:attr="src=${@commonUtil.getFilePath(productImage.image.id)}" alt="">
              </div>
              <div class="product-price"><span th:text="${product.price}">20000</span> won</div>
            </a>
          </li>

        </ul>
      </div>
    </div>

  </div>
</div>
<form th:action="@{/product/list}" method="get" id="searchForm">
  <input type="hidden" id="kw" name="kw" th:value="${kw}">
  <input type="hidden" id="page" name="page" th:value="${paging.number}">
</form>
<footer th:replace="layout/footer.html"></footer>
<script layout:fragment="script" type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>
</body>
</html>