<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/nav_style.css}" type="text/css">
</head>
<body>
<nav>
    <div class="left-box">
        <div class="menu1">GAME</div>
        <div class="menu2">NOTICE</div>
    </div>
    <div class="logo-box">
        <img src="https://velog.velcdn.com/images/ohtj6644/post/176347b7-318d-41c5-a30a-41d546fa0a9e/image.png" alt="">
    </div>
    <div class="right-box">
        <div menu3>CART</div>
        <div class="user-box">
            <div><a href="">로그인</a></div>
            <div><a href="">회원가입</a></div>
        </div>
    </div>
</nav>
</body>
</html>