<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/nav_style.css}" type="text/css">
</head>
<body>
<nav>
    <div class="left-box">
        <div class="menu1"><a href="">GAME</a>
            <ul class="sub-menu">
                <li><a href="">RPG</a></li>
                <li><a href="">FPS</a></li>
                <li><a href="">스릴러</a></li>
                <li><a href="">아케이드</a></li>
                <li><a href="">스포츠</a></li>
                <li><a href="">시물레이션</a></li>
                <li><a href="">기타</a></li>
                <li><a href="">전체</a></li>
            </ul>
        </div>
        <div class="menu2"><a href="">NOTICE</a></div>
    </div>
    <div class="logo-box">
        <a href=""><img src="https://velog.velcdn.com/images/ohtj6644/post/176347b7-318d-41c5-a30a-41d546fa0a9e/image.png" alt=""></a>
    </div>
    <div class="right-box">
        <div menu3><a href="">CART</a></div>
        <div class="user-box">
            <div><a href="">LOGIN</a></div>
            <div><a href="">SIGNUP</a></div>
        </div>
    </div>
</nav>
</body>
</html>