<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/notice_form.css}" type="text/css">
</head>
<body>
<nav th:replace="layout/navbar.html"></nav>
<div class="container-box">
    <div class="content_box">
        <div class="title_box">
    <span class="order_title">
      Notice
    </span>
        </div>
        <!--  상품정보    -->

        <div class="product" >
        </div>
        <form th:object="${noticeForm}"  method="post" enctype="multipart/form-data">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="createform">
                <div class="create-box">
                    <span> 제목 : </span>
                    <input class="input-text" type="text" name="subject" id="subject" th:field="*{subject}">
                </div>
                <div class="create-box">
                    <span>사진 :</span>
                    <input type="file" name="thumbnail" accept="img/png, image/gif, image/jpeg">

                </div>
                <div class="create-box">
                    <span>내용 :</span>
                    <div>
                        <textarea name="content" id="content" cols="30" rows="10" th:field="*{content}"></textarea>
                    </div>
                </div>

            </div>

            <div class="bt_box">
                <button class="order_button" type="submit" id="btn_search">등록하기</button>
            </div>

        </form>



        <div class="product" >
        </div>


        <!—   주문상태 끝   —>

    </div>

</div>


<footer th:replace="layout/footer.html"></footer>

</body>
</html>