<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layout/Order.css"/>
    <title>Hello World!</title>
</head>
<body>
<nav th:replace="layout/navbar.html"></nav>
<div class="container-box">
    <div class="content_box">
        <div class="title_box">
            <span class="order_title">
                Order Detail
            </span>
        </div>
        <!-- 상품정보 -->
        <div class="product_title_box">
            <span class="product_title">product</span>
            <div class="product" th:if="${product != null}">
                <div class="image-panel" th:each="productImage, loop : ${orderProduct.product.productImageList}">
                    <img class="image-panel-img" th:attr="src=${@commonUtil.getFilePath(productImage.image.id)}" alt="">
                </div>
                <div class="product_detail">
                    <div>
                        <p>상품명 :</p>
                        <p th:text="${product.productName}"></p>
                    </div>
                    <div>
                        <p>가격 :</p>
                        <p th:text="${product.price}"></p>
                        <p> won</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 구매자정보 -->
        <div class="product_title_box" th:if="${user != null}">
            <span class="product_title">customer</span>
            <div class="product">
                <div class="customer">
                    <p>회원 ID :</p>
                    <p th:text="${username.username}"></p>
                </div>
                <div class="customer">
                    <p>구매자명 :</p>
                    <p th:text="${orderProduct.customerName}"></p>
                </div>
                <div class="customer">
                    <p>e-mail :</p>
                    <p th:text="${orderProduct.email}"></p>
                </div>
            </div>
        </div>
        <!-- 결제정보 -->
        <div class="product_title_box">
            <span class="product_title">payment</span>
            <div class="product">
                <div class="customer">
                    <p>결제방식 :</p>
                    <p th:text="${orderProduct.payment}"></p>
                    <br>
                    <p>카카오뱅크 3333-03-1659896 오택주</p>
                </div>
            </div>
        </div>
        <!-- 결제정보 끝 -->
        <!-- 주문상태 -->
        <div class="product_title_box">
            <span class="product_title">주문상태</span>
            <div class="product">
                <div class="customer">
                    <p>발송 상태 :</p>
                    <p th:text="${orderProduct.orderStatus}"></p>
                </div>
                <div class="customer">
                    <p>발송 코드 :</p>
                    <p th:if="${orderProduct.code != null}" th:text="${orderProduct.code}"></p>
                    <p th:if="${orderProduct.code == null}">발송 코드 없음</p>
                </div>
                <div class="customer">
                    <p>주문 날짜 :</p>
                    <p th:text="${orderProduct.orderDate}"></p>
                </div>
            </div>
        </div>
        <!-- 주문상태 끝 -->
        <div class="bt_box">
            <button class="review-create-btn" th:attr="data-product-order-id=${orderProduct.id}">
                리뷰등록
            </button>
            <a class="order_button" type="submit" id="btn_search" th:href="@{/}">쇼핑계속하기</a>
            <a class="exit_button" type="submit" id="btn_search" th:href="@{/order/cancel/{id}(id=${orderProduct.id})}" onclick="handleCancelClick(event)">주문취소</a>
        </div>
    </div>
</div>
<footer th:replace="layout/footer.html"></footer>

<script th:inline="javascript">
    const orderStatus = /*[[${orderProduct.orderStatus}]]*/; // 주문 상태 값 가져오기
</script>

<script>
$(document).ready(function () {
  function handleCancelClick(event) {
        if (orderStatus === "주문완료") {
            if (!confirm("주문을 취소하시겠습니까?")) {
                event.preventDefault();
            } else {
                // 취소 요청이 확인되면 주문취소 버튼 스타일 변경
                const cancelButton = event.currentTarget;
                cancelButton.style.color = "white";
                cancelButton.style.textDecoration = "none";
            }
        } else {
            alert("주문 완료 상태에서만 취소 가능합니다.");
            event.preventDefault();
        }
    }



  $(".review-create-btn").click(function () {
    var productOrderId = $(this).data("product-order-id"); // 주문 ID를 가져옴
    console.log(productOrderId);

    $.ajax({
      url: "/review/create", // 리뷰 생성 엔드포인트
      type: "POST",
      data: { productOrderId: productOrderId }, // productOrderId를 서버로 보냄
      success: function (data) {
        // 리뷰 작성 성공 처리
        console.log("리뷰 작성 성공");
        var width = 700; // 새 창의 너비
        var height = 500; // 새 창의 높이
        var left = (window.screen.width - width) / 2;
        var top = (window.screen.height - height) / 2;
        var options =
          "width=" +
          width +
          ",height=" +
          height +
          ",left=" +
          left +
          ",top=" +
          top;

        var url = "/review/create?productOrderId=" + productOrderId;
        window.open(url, "_blank", options);
      },
      error: function () {
        console.error("리뷰 작성 실패");
      }
    });
  });
});



</script>
</body>
</html>
