<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/product_list_style.css}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" referrerpolicy="no-referrer" />
</head>

<body>
<nav th:replace="layout/navbar.html"></nav>
<div class="container-box">
<div class="big-wrap w-full">
    <div class="wrap w-full">
        <div class="banner-section">
            <div class="banner text-center">
                <img class="inline-block w-full" src="https://ifh.cc/g/6xAKMx.jpg" alt="">
            </div>
        </div>

        <div class="title text-center mt-5 font-bold text-3xl text-white" th:text="${themeKey}"></div>


        <div class="sort-section">
            <ul class="flex justify-end text-white">
                <li class="mr-3"><button>인기순</button></li>
                <li class="mr-3"><button>높은 가격순</button></li>
                <li class="mr-3"><button>낮은 가격순</button></li>
            </ul>
        </div>
        <div class="section w-full mt-8  flex justify-evenly flex-wrap">
            <section class="goods-list" th:each="product : ${paging}">

                <div class="goods w-72 align-top">
                    <a th:href="@{|/product/detail/${product.id}|}">
                      <img class="w-full h-36" src="https://cdn.cloudflare.steamstatic.com/steam/apps/2163330/header_292x136.jpg?t=1689267965" alt="">
                      <div class="info h-8 flex items-center text-white text-xs"><p class="price inline-block ml-2"><span th:text="${product.price}"></span> won</p></div>
                    </a>
                </div>

            </section>
        </div>
        <!--페이징-->
        <div class="pagination-1 flex justify-center mt-4" th:if="${paging}">
            <div class="pagination text-white">
                <ul class="page-list">
                    <li th:class="${!paging.hasPrevious} ? 'disabled'">
                        <a class="page-link holy"
                           th:href="${paging.hasPrevious} ? @{|?page=${paging.number+1}|} : @{|?page=0|}">
                            <span class="text-lg">이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages)}"
                        th:if="${page >= paging.number-3 and page <= paging.number+3}"
                        th:classappend="${page + 1 == paging.number} ? 'active' : ''"
                        class="page-item text-lg">
                        <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}|}"></a>
                    </li>
                    <li th:class="${!paging.hasNext} ? 'disabled'">
                        <a class="page-link holy"
                           th:href="${paging.hasNext} ? @{|?page=${paging.number+1}|} : @{|?page=${paging.totalPages}|}">
                            <span class="text-lg">다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>



    </div>
</div>
</div>
<footer th:replace="layout/footer.html"></footer>
</body>

</html>