<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" th:src="@{/jquery-3.7.0.min.js}"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layout/Product_detail.css" />
    <title>world</title>
</head>
<body>
<nav th:replace="layout/navbar.html"></nav>
<section>
    <div class="inner-container">
        <div class="panel-Inner"></div>
            <div class="image-panel" th:each="productImage, loop : ${product.productImageList}">
                    <img class="image-panel-img" th:attr="src=${@commonUtil.getFilePath(productImage.image.id)}" alt="">
            </div>
        <div class="productTitle">
        <div class="panel-productName" th:text="${product.productName}" style="text-shadow: 2px 2px 4px black;">
        </div>
        <div class="panel-developer" th:text="${product.developer}" style="text-shadow: 2px 2px 4px black;">
        </div>
        <div class="panel-price" th:text="|${#numbers.formatInteger(product.price, 0, 'COMMA')} won|" style="text-shadow: 2px 2px 4px black;">
        </div>
        <button type="button" class="panel-btn" id="order-btn" style="font-family: NeoDunggeunmoPro-Regular;">Buy Now</button>
        <div class="wish">
            <span class="zzim" th:data-uri="@{|/product/wish/${product.id}|}">
    <i th:if="${hasWished == true}" class="fa fa-heart" aria-hidden="true" style="cursor:pointer; text-shadow: 2px 2px 4px black;"></i>
    <i th:unless="${hasWished == true}" class="fa fa-heart-o" aria-hidden="true" style="cursor:pointer; text-shadow: 2px 2px 4px black;"></i>
    <span th:text="${#lists.size(product.wish)}" style="text-shadow: 2px 2px 4px black;"></span>
</span>
        </div>
        </div>
    </div>

    <div class="product-detail-width">
        <div class="product-detail-classification">
            <div class="classify-btn-box" style="font-family: NeoDunggeunmoPro-Regular;">
                <a href="#product_detail" class="detail">DETAIL</a>
                <a href="#system-specification" class="specification">System Spec</a>
                <a href="#review" class="review">REVIEW</a>
                <a href="#question" class="inquiry">Q & A</a>
            </div>
        </div>
    </div>

        <div class="product-detail" id="product_detail">
            <div class="detail-box">
                <div>게임명:
                    <br>
                    <span class="detail-productName" th:text="${product.productName}"></span>
                </div>
                <div>개발사:
                    <br>
                    <span class="detail-developer" th:text="${product.developer}"></span>
                </div>
                <div>장르:
                    <br>
                    <span class="detail-theme" th:text="${product.theme}"></span>
                </div>
                <div>게임 설명:
                    <br>
                    <span class="detail-content" th:text="${product.content}"></span>
                </div>
            </div>
        </div>

        <div class="form-container">
            <div class="menu" id="system-specification">System Spec</div>
            <div class="radio-container" style="font-family: NeoDunggeunmoPro-Regular;">
                <div class="radio-window">
                    <input type="radio" id="window" name="specification" checked>
                    <label for="window">Window</label>
                </div>
                <div class="radio-mac" style="font-family: NeoDunggeunmoPro-Regular;">
                    <input type="radio" id="Mac" name="specification">
                    <label for="Mac">Mac</label>
                </div>
            </div>
        </div>

        <table class="window-specification" th:if="${not #lists.isEmpty(product.windowMinList) or not #lists.isEmpty(product.windowRecommendedList)}">
            <thead>
            <tr>
                <th colspan="2">Window 최소</th>
                <th colspan="2">Window 권장</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="windowMin, index : ${product.windowMinList}">
                <tr>
                    <td class="text-only">운영체제</td>
                    <td class="list-data" th:text="${windowMin.operatingSystem}"></td>
                    <td class="text-only">운영체제</td>
                    <td class="list-data" th:text="${product.windowRecommendedList[__${index.index}__].operatingSystem}"></td>
                </tr>
                <tr>
                    <td class="text-only">프로세서</td>
                    <td class="list-data" th:text="${windowMin.processor}"></td>
                    <td class="text-only">프로세서</td>
                    <td class="list-data" th:text="${product.windowRecommendedList[__${index.index}__].processor}"></td>
                </tr>
                <tr>
                    <td class="text-only">RAM</td>
                    <td class="list-data" th:text="${windowMin.memory}"></td>
                    <td class="text-only">RAM</td>
                    <td class="list-data" th:text="${product.windowRecommendedList[__${index.index}__].memory}"></td>
                </tr>
                <tr>
                    <td class="text-only">그래픽</td>
                    <td class="list-data" th:text="${windowMin.graphics}"></td>
                    <td class="text-only">그래픽</td>
                    <td class="list-data" th:text="${product.windowRecommendedList[__${index.index}__].graphics}"></td>
                </tr>
                <tr>
                    <td class="text-only">저장공간</td>
                    <td class="list-data" th:text="${windowMin.storage}"></td>
                    <td class="text-only">저장공간</td>
                    <td class="list-data" th:text="${product.windowRecommendedList[__${index.index}__].storage}"></td>
                </tr>
                <tr th:if="${windowMin.directAccess != null and windowMin.directAccess != ''}">
                    <td class="text-only">DirectX</td>
                    <td class="list-data" th:text="${windowMin.directAccess}"></td>
                    <td class="text-only">DirectX</td>
                    <td class="list-data" th:text="${product.windowRecommendedList[__${index.index}__].directAccess}"></td>
                </tr>
                <tr th:if="${windowMin.network != null and windowMin.network != ''}">
                    <td class="text-only">네트워크</td>
                    <td class="list-data" th:text="${windowMin.network}"></td>
                    <td class="text-only">네트워크</td>
                    <td class="list-data" th:text="${product.windowRecommendedList[__${index.index}__].network}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <table class="mac-specification" th:if="${not #lists.isEmpty(product.macMinList) or not #lists.isEmpty(product.macRecommendedList)}">
            <thead>
            <tr>
                <th colspan="2">Mac 최소</th>
                <th colspan="2">Mac 권장</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="macMin, index : ${product.macMinList}">
                <tr>
                    <td class="text-only">운영체제</td>
                    <td class="list-data" th:text="${macMin.operatingSystem}"></td>
                    <td class="text-only">운영체제</td>
                    <td class="list-data" th:text="${product.macRecommendedList[__${index.index}__].operatingSystem}"></td>
                </tr>
                <tr>
                    <td class="text-only">프로세서</td>
                    <td class="list-data" th:text="${macMin.processor}"></td>
                    <td class="text-only">프로세서</td>
                    <td class="list-data" th:text="${product.macRecommendedList[__${index.index}__].processor}"></td>
                </tr>
                <tr>
                    <td class="text-only">RAM</td>
                    <td class="list-data" th:text="${macMin.memory}"></td>
                    <td class="text-only">RAM</td>
                    <td class="list-data" th:text="${product.macRecommendedList[__${index.index}__].memory}"></td>
                </tr>
                <tr>
                    <td class="text-only">그래픽</td>
                    <td class="list-data" th:text="${macMin.graphics}"></td>
                    <td class="text-only">그래픽</td>
                    <td class="list-data" th:text="${product.macRecommendedList[__${index.index}__].graphics}"></td>
                </tr>
                <tr>
                    <td class="text-only">저장공간</td>
                    <td class="list-data" th:text="${macMin.storage}"></td>
                    <td class="text-only">저장공간</td>
                    <td class="list-data" th:text="${product.macRecommendedList[__${index.index}__].storage}"></td>
                </tr>
                <tr th:if="${macMin.directAccess != null and macMin.directAccess != ''}">
                    <td class="text-only">DirectX</td>
                    <td class="list-data" th:text="${macMin.directAccess}"></td>
                    <td class="text-only">DirectX</td>
                    <td class="list-data" th:text="${product.macRecommendedList[__${index.index}__].directAccess}"></td>
                </tr>
                <tr th:if="${macMin.network != null and macMin.network != ''}">
                    <td class="text-only">네트워크</td>
                    <td class="list-data" th:text="${macMin.network}"></td>
                    <td class="text-only">네트워크</td>
                    <td class="list-data" th:text="${product.macRecommendedList[__${index.index}__].network}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div id="review"></div>
    <div id="question"></div>
    </div>
    </div>
</section>
<footer th:replace="layout/footer.html"></footer>
<script>

$(document).ready(function() {
  function getCurrentPageUrl() {
    return window.location.href;
  }

  // 현재 페이지 URL에서 상품 ID를 추출하는 함수
  function extractProductIdFromUrl() {
    var url = getCurrentPageUrl();
    var idPattern = /\/product\/(\d+)/;
    var match = url.match(idPattern);

    if (match && match[1]) {
      var productId = parseInt(match[1]);
      return productId;
    }

    return null; // 상품 ID를 찾지 못한 경우
  }
  var productId = extractProductIdFromUrl();
  localStorage.setItem("productId", productId);//쿠키에 productId 저장

  $("#orderButton").click(function() {
      var url = "/order/create/" + productId;
      window.location.href = url; // 페이지 이동
  });

    $(".mac-specification").hide();

    $("#window").on("click", function() {
        if ($(this).prop("checked")) {
            $(".window-specification").show();
            $(".mac-specification").hide();
        }
    });

    $("#Mac").on("click", function() {
        if ($(this).prop("checked")) {
            $(".mac-specification").show();
            $(".window-specification").hide();
        }
    });

    if ($(".window-specification tbody tr").length === 0) {
        $(".radio-window").addClass("hidden");
        $(".mac-specification").show();
        $("#Mac").prop("checked", true);
    } else if ($(".mac-specification tbody tr").length === 0) {
        $(".radio-mac").addClass("hidden");
        $(".window-specification").show();
        $("#window").prop("checked", true);
    }

        function getCurrentPageUrl() {
    return window.location.href;
  }
    $("#order-btn").on("click", function (){
      var OrderUrl = "/order/create/" + productId;
      window.location.href = OrderUrl;
    });

    var reviewUrl = "/review/list/" + productId;
    $.get(reviewUrl, function(data) {
        $("#review").html(data);
    });

    var questionUrl = "/question/list/" + productId;
    $.get(questionUrl, function(data) {
        $("#question").html(data);
    });

    $(".zzim").click(function () {
        // Toggle heart icon classes
        var heartIcon = $(this).find("i");
        if (heartIcon.hasClass(".fa-heart-o")) {
            heartIcon.removeClass(".fa-heart-o").addClass(".fa-heart");
        } else if (heartIcon.hasClass(".fa-heart")) {
            heartIcon.removeClass(".fa-heart").addClass(".fa-heart-o");
        }

        // Redirect to the specified URI
        var uri = $(this).data("uri");
        if (uri) {
            window.location.href = uri;
        }
    });

    $(".wish").click(function () {
        // Toggle heart icon classes
        var heartIcon = $(this).find("i");
        if (heartIcon.hasClass(".fa-heart-o")) {
            heartIcon.removeClass(".fa-heart-o").addClass(".fa-heart");
        } else if (heartIcon.hasClass(".fa-heart")) {
            heartIcon.removeClass(".fa-heart").addClass(".fa-heart-o");
        }
    });
});
</script>
<script>
$(document).ready(function() {
    // 이벤트 핸들러 등록
    $(".detail, .specification, .review, .inquiry").click(function(event) {
        event.preventDefault(); // 기본 링크 동작 방지

        var target = $(this).attr("href"); // 타겟 섹션 선택
        var offset = $(target).offset().top - 120; // 타겟 섹션의 위치에서 150px 위로 이동

        // 스크롤 애니메이션
        $("html, body").animate({
            scrollTop: offset
        }, 500); // 500ms 동안 스크롤 애니메이션 진행
    });
});
</script>
</body>
</html>
