<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/product_list_style.css}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" referrerpolicy="no-referrer" />
</head>
<body>



<div class="big-wrap max-w-full">
    <div class="wrap max-w-full">
        <div class="banner-section">
            <div class="banner text-center">
                <img class="inline-block w-full" src="https://ifh.cc/g/6xAKMx.jpg" alt="">
            </div>
        </div>
        <div class="title text-center mt-5 font-bold text-3xl">전체</div>
        <div class="sort-section">
            <ul class="flex justify-end">
                <li class="mr-3"><button>인기순</button></li>
                <li class="mr-3"><button>높은 가격순</button></li>
                <li class="mr-3"><button>낮은 가격순</button></li>
            </ul>
        </div>
        <div class="section w-full mt-8">
            <section class="goods-list flex justify-around">

                <div class="goods-1 w-96 align-top mr-5">
                    <img class="w-96 h-80 mb-3" src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1645598047189l0.jpg" alt="">
                    <p class="goods-name h-10">[썬키스트] 팬시 레몬 300g(3입)</p>
                    <p><span>2,980원</span></p>
                </div>
                <div class="goods-2 w-96 align-top mr-5">

                    <img class="w-96 h-80 mb-3" src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1478868859561l0.jpg" alt="">
                    <p class="goods-name h-10">[블루에그]제주도 자연방사 청란 10구</p>
                    <p><span>19,000원</span></p>

                </div>
                <div class="goods-3 w-96 align-top mr-5">

                    <img class="w-96 h-80 mb-3" src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1586332225837l0.jpg" alt="">
                    <p class="goods-name h-10">[앙팡드봉봉]한입에 쏙! 한입 솜사탕 3종</p>
                    <p>
          <span class="per">8%
          </span>
                        <span> 8,100원</span>
                    </p>
                    <p class="line-through">
                        8,900원</p>
                </div>
                <div class="goods-4 w-96 align-top">

                    <img class="w-96 h-80 mb-3" src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1642565488520l0.jpg" alt="">
                    <p class="goods-name h-10">[정다운]느린농장 오리 다리살 500g</p>
                    <p><span>9,900원</span></p>

                </div>
            </section>
        </div>
    </div>
</div>

</body>
</html>