<link rel="stylesheet" href="/layout/Product_detail.css"/>
<script type="text/javascript" th:src="@{/jquery-3.7.0.min.js}"></script>
<section th:fragment="question_listFragment" class="question-list-section">
    <div class="question-create-box">
        <span>Q & A</span>
        <button sec:authorize="isAuthenticated()" class="question-create-btn btn-sm" style="font-family: NeoDunggeunmoPro-Regular;">문의하기</button>
        <button sec:authorize="isAnonymous()" class="question-create-btn btn-sm a-hover" th:onclick="_anonymous(this)" th:data-uri="|/question/create|" style="font-family: NeoDunggeunmoPro-Regular;">문의하기</button>
    </div>
    <div class="question-list-content">
        <div class="question-container" th:each="question, loop : ${paging}">
            <div class="question-header">
                <span class="question-state" th:text="${question.answered ? '답변완료' : '답변대기'}"></span>
                <span class="question-subject" th:text="${#strings.length(question.content) > 30 ? #strings.substring(question.content, 0, 30) + '' : question.content.replaceAll('\n', ' ')}"> </span>
                <span class="question-author" th:text="${question.author.nickname}"></span>
                <span class="question-create-date" th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd')}"></span>
            </div>
            <div class="question-content">
                <div class="accordion-content" style="width: 55%; margin-left: 16%">
                    <p th:text="${question.content}"></p>
                    <button th:if="${question.author != null and #authentication.isAuthenticated() and #authentication.name == question.author.username}"
                            th:data-question-id="${question.id}" class="question-modify" style="font-family: NeoDunggeunmoPro-Regular;">
                        수정
                    </button>
                    <button th:if="${question.author != null and #authentication.isAuthenticated() and #authentication.name == question.author.username}"
                            th:attr="data-uri=@{/question/delete/{id}(id=${question.id})}" class="question-delete" style="font-family: NeoDunggeunmoPro-Regular;">
                        삭제
                    </button>
                    <div th:if="${question.answerList}">
                        <hr>
                        <div th:each="answer : ${question.answerList}">
                            <p><span th:text="${answer.content}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}" style="text-align: center;">
        <ul class="pagination1 justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link1" th:href="${paging.hasPrevious} ? @{|?page=${paging.number-1}|} : @{|?page=0|}">
                    <span><</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page+1}" class="page-link1" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link1" th:href="@{|?page=${paging.number+1}|}">
                    <span>></span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
</section>
<script>
$(document).ready(function () {

var productId = localStorage.getItem("productId");

  $(".question-create-btn").click(function () {
    if (productId !== null) {
       var width = 700; // 새 창의 너비
       var height = 500; // 새 창의 높이
       var left = (window.screen.width - width) / 2;
       var top = (window.screen.height - height) / 2;
       var options =
      "width=" + width + ",height=" + height + ",left=" + left + ",top=" + top;

      var url = "/question/create?productId=" + productId;

      window.open(url, "_blank", options);
    } else {
      console.error("상품 ID를 찾지 못했습니다.");
    }
  });

   $(".question-container").click(function () {
    var $questionContent = $(this).find(".question-content");
    $questionContent.toggle();
    $(".question-content").not($questionContent).hide();
  });

  $(".question-modify").click(function () {
        var questionId = $(this).data("question-id");
        var width = 700; // 새 창의 너비
        var height = 500; // 새 창의 높이
        var left = (window.screen.width - width) / 2;
        var top = (window.screen.height - height) / 2;
        var options = "width=" + width + ",height=" + height + ",left=" + left + ",top=" + top;

        // 새 창을 열고 question_form.html을 불러옵니다.
        var newWindow = window.open("/question/modify/" + questionId, "_blank", options);
    });


    $(".question-delete").click(function () {
        if (confirm("정말로 삭제하시겠습니까?")) {
            var uri = $(this).data("uri");
            window.location.href = uri;
        }
    });
});
</script>