<link rel="stylesheet" href="/layout/Product_detail.css"/>
<script type="text/javascript" th:src="@{/jquery-3.7.0.min.js}"></script>
<section th:fragment="question_listFragment" class="question-list-section">
    <div class="question-create-box">
        <button sec:authorize="isAuthenticated()" class="question-create-btn btn-sm">상품 Q&A 작성하기</button>
        <button sec:authorize="isAnonymous()" class="question-create-btn btn-sm a-hover" th:onclick="_anonymous(this)" th:data-uri="|/question/create|">상품 Q&A 작성하기</button>
    </div>

    <div class="question-list-content">
        <div class="question-container" th:each="question, loop : ${paging}">
            <div class="question-header">
                <span class="question-state" th:text="${question.answered ? '답변완료' : '답변대기'}"></span>
                <span class="question-subject" th:text="${#strings.length(question.content) > 30 ? #strings.substring(question.content, 0, 30) + '' : question.content.replaceAll('\n', ' ')}"> </span>
                <span class="question-author" th:text="${question.author.nickname}"></span>
                <span class="question-create-date" th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd')}"></span>
            </div>
            <div class="question-content">
                <div class="accordion-content" style="width: 55%; margin-left: 16%">
                    <p th:text="${question.content}"></p>
                    <button th:if="${question.author != null and #authentication.isAuthenticated() and #authentication.name == question.author.username}"
                            th:data-question-id="${question.id}" class="question-modify">
                        수정
                    </button>
                    <button th:if="${question.author != null and #authentication.isAuthenticated() and #authentication.name == question.author.username}"
                            th:attr="data-uri=@{/question/delete/{id}(id=${question.id})}" class="question-delete">
                        삭제
                    </button>
                    <p> <hr> 답변내용</p>
                </div>
            </div>
        </div>
    </div>



    <div class="question-list-foot" th:if="${!paging.isEmpty()}">
        <ul class="question-pagination">
            <li class="question-page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="question-page-link" th:href="@{|?page=${1}|}">
                    <span>처음</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(1, paging.totalPages)}"
                th:if="${page >= paging.number - 4 and page <= paging.number + 5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="question-page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="question-page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="question-page-link" th:href="@{|?page=${paging.totalPages}|}">
                    <span>끝</span>
                </a>
            </li>
        </ul>
    </div>

</section>

<script>
$(document).ready(function () {
  $(".question-create-btn").click(function () {
    var width = 700; // 새 창의 너비
    var height = 500; // 새 창의 높이
    var left = (window.screen.width - width) / 2;
    var top = (window.screen.height - height) / 2;
    var options =
      "width=" + width + ",height=" + height + ",left=" + left + ",top=" + top;

    window.open("/question/create", "_blank", options);
  });

  $(".question-container").click(function () {
    var $questionContent = $(this).find(".question-content");
    $questionContent.toggle();
    $(".question-content").not($questionContent).hide();
  });

  $(".question-modify").click(function () {
        var questionId = $(this).data("question-id");
        var width = 700; // 새 창의 너비
        var height = 500; // 새 창의 높이
        var left = (window.screen.width - width) / 2;
        var top = (window.screen.height - height) / 2;
        var options = "width=" + width + ",height=" + height + ",left=" + left + ",top=" + top;

        // 새 창을 열고 question_form.html을 불러옵니다.
        var newWindow = window.open("/question/modify/" + questionId, "_blank", options);
    });


    $(".question-delete").click(function () {
        if (confirm("정말로 삭제하시겠습니까?")) {
            var uri = $(this).data("uri");
            window.location.href = uri;
        }
    });

});


</script>