<script type="text/javascript" th:src="@{/jquery-3.7.0.min.js}"></script>
<section class="review-write-section">
  <h3>리뷰</h3>
  <form th:object="${reviewForm}" method="post" class="review-write-form">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <div class="review-write-body">
      <textarea th:field="*{content}" placeholder="리뷰 내용을 입력하세요"></textarea>
    </div>
    <div class="write-btn-box">
      <a href="/review" class="btn-sm cancel">취소</a>
      <button type="submit" class="btn-sm" id="saveBtn">저장하기</button>
    </div>
  </form>
</section>
<script>