<link rel="stylesheet" href="/layout/Product_detail.css"/>
<script type="text/javascript" th:src="@{/jquery-3.7.0.min.js}"></script>
<style>
  .star-rating{width:200px;}
  .star-rating,.star-rating span {display:inline-block; height:36px; overflow:hidden; background:url(https://i.postimg.cc/fLQN3N9P/star.png)no-repeat;}
  .star-rating span{background-position:left bottom; line-height:0; vertical-align:top;}
  .brContent{margin-bottom:30px;}
</style>
<section th:fragment="review_listFragment" class="review-list-section">
  <div class="review-create-box">
    <span>Review</span>

  </div>


  <div class="review-list-content">
    <div class="review-container" th:each="review, loop : ${paging}">
      <div class="review-header">
        <span class="review-author" th:text="${review.author.nickname}"></span>

        <span class="review-subject" th:text="${#strings.length(review.content) > 30 ? #strings.substring(review.content, 0, 30) + '' : review.content.replaceAll('\n', ' ')}"> </span>
        <div class="like">
          <a class="like-action" href="javascript:void(0);"
             th:data-uri="@{|/review/vote/${review.id}|}" th:classappend="${#lists.contains(review.voter, user) ? 'fa fa-thumbs-up' : 'fa fa-thumbs-o-up'}">
            <!--            <i class="fa fa-thumbs-up"></i>-->
            <!--            <i class="fa fa-thumbs-o-up"></i>-->
            <span th:text="${#lists.size(review.voter)}"></span>
          </a>
        </div>
        <span class="review-create-date" th:text="${#temporals.format(review.createDate, 'yyyy-MM-dd')}"></span>
      </div>
      <div class="review-content">
        <div class="accordion-content" style="width: 55%; margin-left: 16%">
          <span> score :</span>
          <div class="wrap-star">
            <span class="star-rating" th:if="${review.score == 1}">
            <span style="width:20%"></span>
            </span>
            <span class="star-rating" th:if="${review.score == 2}">
            <span style="width:40%"></span>
            </span>
            <span class="star-rating" th:if="${review.score == 3}">
            <span style="width:60%"></span>
            </span>
            <span class="star-rating" th:if="${review.score == 4}">
            <span style="width:80%"></span>
            </span>
            <span class="star-rating" th:if="${review.score == 5}">
            <span style="width:100%"></span>
            </span>
          </div>
          <span class="brContent"> content :</span>
          <br>
          <p th:text="${review.content}"></p>
          <button th:if="${review.author != null and #authentication.isAuthenticated() and #authentication.name == review.author.username}"
                  th:data-review-id="${review.id}" class="review-modify" style="font-family: NeoDunggeunmoPro-Regular;">
            수정
          </button>
          <button th:if="${review.author != null and #authentication.isAuthenticated() and #authentication.name == review.author.username}"
                  th:attr="data-uri=@{/review/delete/{id}(id=${review.id})}" class="review-delete" style="font-family: NeoDunggeunmoPro-Regular;">
            삭제
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- 페이징처리 시작 -->
  <div th:if="${!paging.isEmpty()}" style="text-align: center;">
    <ul class="pagination1 justify-content-center">
      <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
        <a class="page-link1" th:href="${paging.hasPrevious} ? @{|?page=${paging.number-1}|} : @{|?page=0|}">
          <span><</span>
        </a>
      </li>
      <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
          th:if="${page >= paging.number-5 and page <= paging.number+5}"
          th:classappend="${page == paging.number} ? 'active'"
          class="page-item">
        <a th:text="${page+1}" class="page-link1" th:href="@{|?page=${page}|}"></a>
      </li>
      <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
        <a class="page-link1" th:href="@{|?page=${paging.number+1}|}">
          <span>></span>
        </a>
      </li>
    </ul>
  </div>
  <!-- 페이징처리 끝 -->
</section>
<script>
$(document).ready(function () {
var productId = localStorage.getItem("productId");

  $(".like-action").click(function () {
      // Toggle heart icon classes
      $(this).find("i").toggleClass("fa-regular fa-solid");

      // Redirect to the specified URI
      var uri = $(this).data("uri");
      if (uri) {
          window.location.href = uri;
      }
  });

  $(".like").click(function () {
        // Toggle heart icon classes
        $(this).find("i").toggleClass("fa-regular fa-solid");
  });

  $(".review-container").click(function () {
    var $reviewContent = $(this).find(".review-content");
    $reviewContent.toggle();
    $(".review-content").not($reviewContent).hide();
  });

  $(".review-modify").click(function () {
        var reviewId = $(this).data("review-id");
        var width = 700; // 새 창의 너비
        var height = 500; // 새 창의 높이
        var left = (window.screen.width - width) / 2;
        var top = (window.screen.height - height) / 2;
        var options = "width=" + width + ",height=" + height + ",left=" + left + ",top=" + top;

        // 새 창을 열고 review_form.html을 불러옵니다.
        var newWindow = window.open("/review/modify/" + reviewId, "_blank", options);
    });

    $(".review-delete").click(function () {
        if (confirm("정말로 삭제하시겠습니까?")) {
            var uri = $(this).data("uri");
            window.location.href = uri;
        }
    });
});
</script>