<script type="text/javascript" th:src="@{/jquery-3.7.0.min.js}"></script>
<link rel="stylesheet" href="/review_form.css"/>
<section class="review-write-section">
    <div class="title">리뷰 남기기</div>
    <form th:object="${reviewForm}" method="post" class="review-write-form">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <fieldset>
<!--            <span class="text-bold">별점을 선택해주세요</span>-->
            <input type="radio" name="score" value="5" id="rate1"><label
                for="rate1">★</label>
            <input type="radio" name="score" value="4" id="rate2"><label
                for="rate2">★</label>
            <input type="radio" name="score" value="3" id="rate3"><label
                for="rate3">★</label>
            <input type="radio" name="score" value="2" id="rate4"><label
                for="rate4">★</label>
            <input type="radio" name="score" value="1" id="rate5"><label
                for="rate5">★</label>
        </fieldset>
        <div class="write-body">
            <textarea class="content" th:field="*{content}" placeholder="리뷰 내용을 입력하세요"></textarea>
        </div>
        <div class="write-btn-box">
            <button type="button" class="btn-cancel" id="cancel_button">취소</button>
            <button type="submit" class="btn-sm" id="submit_button">저장하기</button>
        </div>
    </form>
</section>
<script>
$(document).ready(function () {
  $("#cancel_button").click(function () {
    window.close()
  });

  $("#submit_button").click(function () {
    var formData = $("#reviewForm").serialize();
    var content = $(".content").val();
    if (content.length === 0) {
      alert("내용을 입력해주세요.");
      return false;
    }

    $.ajax({
      type: "POST",
      url: "/review/create",
      data: formData,
      success: function (data) {

        alert("리뷰 등록이 완료되었습니다.");
        self.close();

        window.opener.location.reload();
      },
      error: function (error) {
        console.log(error);
      }
    });
  });
});

document.getElementById('rate1').checked = true;
</script>